conversation(display_name="Cedric")
  case lastResponse
    when "nice_to_meet"
    when "you_seem_nice"
      statement#final
      responses

    when "who_are_you"
      statement#cedric
      responses
        response#nice_to_meet.
          !{getTranslatedString('twilio_vr.cedric.nice_to_meet')}
        response#you_seem_nice.
          !{getTranslatedString('twilio_vr.cedric.you_seem_nice')}

    default
      statement#default
      responses
        response#who_are_you.
          !{getTranslatedString('twilio_vr.cedric.who_are_you')}

  statements
    statement#default
      text.
        !{getTranslatedString('twilio_vr.cedric.textDefault')}
      speech.
        !{getTranslatedString('twilio_vr.cedric.speechDefault')}
    statement#cedric
      text.
        !{getTranslatedString('twilio_vr.cedric.cedric')}
    statement#final
      text.
        !{getTranslatedString('twilio_vr.cedric.final')}